//!offers
.o_offerGlass{
  background-color: rgba(200,0,0,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.o_offerGlass2{
  background-color: rgba(200,0,50,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}

.o_img{
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
//!offers




//!popular
.p_offerGlass{
  background-color: rgba(0,0,200,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.p_offerGlass2{
  background-color: rgba(90,0,200,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}


//! ارسال audio in webrtcProject
//! type ها مهم هستن و هم با پروپ تایپ و هم با مونگو
//! همه ی ا پی آی هارو مثلا کامنت رو سمت سرور و سمت کلاینت رو تو یه فایل بنویس و براش کامنت هم بزار
//! const pr = states()
//! اسم هارو تبدیل به محصول کن نه آیتم
//! از سرور جیسون هایی که میفرستی باید مسیج داشته باشه و مقدار
//! گیت رو هم تو صفحه ی توتوریال اموزششو بنویس
//! از overflow scroll استفاده کن 
//! چند مدل کارت و ایکون منفی و مثبت و کامنت درست کن
//! childItem به product تغییر بده
//! فونت فارسی برای vscode
//? _23 کامنت بزار
//! userId هارو به userPhone تغییر بده
// p.latlng
//! register login set token

//! فلط لیست رو یجوری درست کن که کاربر یک بار تو یه صفحه رفت و در اومد و استیت پاک شد این فلت لیست داخل خودش استیت رو ضخیره بکنه
//! paginate for table

//! saved item رو به خود چیلد ایتم انتقال بده
//! وقتی مودل کتگوری رو پاک میکنی مدل محصول هم پاک بشه
//! input ro drodown ro پیشفرض توی خودش درست کن
//! همه کامپوننت ها ی دستساز رو async بزار
// هرکس که نظر میده بتونه لایک کنه و اگه لایک کرده بود بزن این کاربر این کالارا پیشنهاد میکند و ستاره رو فقط افرادی که دانلود کردن بتونن بدن
//! id هارو بزار گروه ای دی و محصول ای دی
//! اگه ثبت نام نکرده بود و رو خرید زد بزه تو ص لاگین
//! فقط query بفزست


//! vibre برای socketio & network disconnect & جواب تیکت رو با نوتیفیکیشن بده
//! هربار که خرید میشه موجودی رو به تعداد خرید کم کن

// incript decript

// slider and search رو عکس بزارs

//! ادرس در مرورگر إخیره شود زو یکبار بپرس

//! برای تیکت ها و جدول ها سرچ بزار