//!offers
.o_offerGlass{
  background-color: rgba(200,0,0,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.o_offerGlass2{
  background-color: rgba(200,0,50,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}

.o_img{
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
//!offers




//!popular
.p_offerGlass{
  background-color: rgba(0,0,200,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.p_offerGlass2{
  background-color: rgba(90,0,200,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}


//! type ها مهم هستن و هم با پروپ تایپ و هم با مونگو
//! همه ی ا پی آی هارو مثلا کامنت رو سمت سرور و سمت کلاینت رو تو یه فایل بنویس و براش کامنت هم بزار
//! const pr = states()
//! اسم هارو تبدیل به محصول کن نه آیتم
//! از سرور جیسون هایی که میفرستی باید مسیج داشته باشه و مقدار
//! گیت رو هم تو صفحه ی توتوریال اموزششو بنویس
//! از overflow scroll استفاده کن 
//! چند مدل کارت و ایکون منفی و مثبت و کامنت درست کن
//! childItem به product تغییر بده
//! فونت فارسی برای vscode

//! وقتی مودل کتگوری رو پاک میکنی مدل محصول هم پاک بشه
//! اگه کامنت برا من بود بشه ویرایش کنم
//! فلط لیست رو یجوری درست کن که کاربر یک بار تو یه صفحه رفت و در اومد و استیت پاک شد این فلت لیست داخل خودش استیت رو ضخیره بکنه
//! اول خروج از صف باید بکنی ادرسارو و بعد ارسال
//! vibre برای socketio & network disconnect
//! register login set token
//! جواب تیکت رو با نوتیفیکیشن بده
//! قسمت گروه محصولات رو درست کن که زیر مجموعه ی فروشنده نباشه
//! input ro drodown ro پیشفرض توی خودش درست کن
//? _23 کامنت بزار
//! همه کامپوننت ها ی دستساز رو async بزار
//! comment answer
//! هربار که خرید میشه موجودی رو به تعداد خرید کم کن
//! نام رو لازم نیست تو رجیستر وارد کنی و اول از فایل کپی بگیر
//! off رو توی جدول مدتش رو مشخص کن
//! responsive singleItem
// p.latlng
//! meanStar