//!offers
.o_offerGlass{
  background-color: rgba(200,0,0,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.o_offerGlass2{
  background-color: rgba(200,0,50,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}

.o_img{
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
//!offers




//!popular
.p_offerGlass{
  background-color: rgba(0,0,200,.1);
  position: absolute;
  width:100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  align-self: center;
}

.p_offerGlass2{
  background-color: rgba(90,0,200,.3);
  border-radius: 3px;
  position: absolute;
  width:100%;
  height: 100%;
}


//! offer رو ساعتش همینجوری که کم میشه داخل اینپوتش هم کم کن
//! همه ی ا پی آی هارو مثلا کامنت رو سمت سرور و سمت کلاینت رو تو یه فایل بنویس و براش کامنت هم بزار
//! slider رو با فلت لیست درستش کن
//onPressIn
//! const pr = states()
//! ارسال نظر و لایک رو درست کن uniqu
//! وقتی مودل کتگوری رو پاک میکنی مدل محصول هم پاک بشه
//! اگه کامنت برا من بود بشه ویرایش کنم
//! اسم هارو تبدیل به محصول کن نه آیتم
//! از سرور جیسون هایی که میفرستی باید مسیج داشته باشه و مقدار